.bird-details {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;

    &__img {
        width: 200px;
        height: 200px;
        margin-bottom: 20px;

        background: transparent;
        border-radius: 5px;
    }

    &__info {
        flex-grow: 1;
        padding-left: 40px;

        & .rhap_time {
            font-size: 14px;
            font-weight: 300;
        }
    }

    &__title {
        margin: 0;
        margin-bottom: 10px;
        padding: 10px 5px;
        
        font-size: 40px;
        line-height: 40px;
        font-weight: normal;

        border-bottom: 1px solid #5f9f41;
    }

    &__latin-name {
        margin: 0;
        margin-bottom: 20px;        
        padding: 5px;
        
        border-bottom: 1px solid #5f9f41;
    }

    &__desc, &__latin-name {
        font-size: 20px;
        line-height: 24px;
        font-weight: 300;
    }
}

@media(max-width: 1200px) {
    .bird-details {
        &__info {
            padding-left: 10px;
        }
    }
}

@media(max-width: 1110px) {
    .bird-details {
        &__img {
            margin: 0 auto 30px;
        }

        &__info {
            width: 100%;

            & .rhap_container {
                margin-bottom: 20px;
                border-bottom: 1px solid #5f9f41;
            }
        }

        &__desc {
            padding-left: 10px;
        }
    }
}
@media(max-width: 700px) {
    .bird-details {
        padding-left: 0;
        padding-right: 0;

        &__info {
            width: calc(100% - 20px);
        }
        & .rhap_container {
            width: calc(100% - 20px);
        }
    }
}

