.category {
    flex-grow: 1;
    padding: 0 10px;

    text-align: center;

    border-right: 1px solid #E95420;
    border-bottom: 1px solid #E95420;

    &:first-child {
        border-left: 1px solid #E95420;
    }

    &--active {
        background-color: #5f9f41;
    }
    
    &__title {
        margin: 20px 10px;
        padding: 0;
        color: #E95420;
    }

    &__list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0;
        margin-bottom: 20px;
        padding: 0;

        font-size: 22px;
        font-weight: 300;
        line-height: 45px;

        background-color: #888;
        list-style: none;
    }
}

@media(max-width: 1200px) {
    .category {
        &__list {
            border-radius: 0;
        }
    }
}