.winner-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;

    text-align: center;
    
    background-color: #E95420;

    &__title {
        margin: 0;
        padding: 10px 30px;

        font-size: 60px;
        line-height: 60px;
    }

    &__text {
        margin: 20px 0 40px;

        font-size: 30px;
        line-height: 35px;
        font-weight: 300;
    }

    &__form {
        display: flex;
        flex-direction: column;
        max-width: 500px;
    }

    &__label {
        font-size: 20px;
        line-height: 35px;
        font-weight: 300;
    }

    &__input {
        &--txt {
            font-family: 'Oswald', sans-serif;
            font-size: 20px;
            line-height: 35px;
            font-weight: 400;
            color: #fff;

            background-color: transparent;
            border: none;
            border-bottom: 1px solid #5f9f41;

            -moz-appearance: none;
            -webkit-appearance: none;

            &::placeholder {
                font-family: 'Oswald', sans-serif;
                font-size: 20px;
                line-height: 35px;
                font-weight: 400;
                color: #ddd;
            }

            &:focus {
                box-shadow: 5px 1px 5px solid #fff;
                outline: none;
            }
        }
    }
    
    &__btn {
        margin: 40px 0 60px;
        padding: 10px 40px;

        font-family: 'Oswald', sans-serif;
        font-weight: normal;
        font-size: 30px;
        line-height: 60px;
        color: #fff;

        background-color: #5f9f41;
        border-radius: 5px;
        border: none;

        &:hover, &:focus {
            background-color: #38B44A;
        }
    }
}

@media(min-width: 1200px) {
    .winner-page {
        border-radius: 5px;

        &__title {
            padding: 10px;

            font-size: 30px;
            line-height: 60px;
        }
    }
}

@media(max-width: 500px) {
    .winner-page {
        &__title {
            padding: 10px;

            font-size: 40px;
            line-height: 60px;
        }

        &__btn {
            font-size: 24px;
            line-height: 40px;
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill {
  -webkit-text-fill-color: #fff;
  transition: background-color 5000s ease-in-out 0s;
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);  
  &:focus {
    -webkit-box-shadow: 0px 1px 1px #38B44A;
    box-shadow: 0 0 0px 1000px transparent inset;
  }
}