.player {
    display: flex;    
    flex-wrap: wrap;
    margin-bottom: 40px;
    padding: 40px;

    color: #fff;

    background-color: #E95420;

    &__img {
        background-image: url(./placeholder.jpg);
        background-position: 0 0;
        background-repeat: no-repeat;
        border-radius: 5px;
    }

    &__title {
        margin: 20px 0;
        padding: 0;
        
        font-family: 'Oswald', sans-serif;
        font-weight: normal;
        font-size: 50px;
        line-height: 50px;
    }

    &__guess {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 0 0 40px 40px;

        & figure {
            margin: 0;
            padding: 0;
        }
    }

    &__audio {
        width: 100%;
        background-color:transparent;
    }
}

@media(min-width: 1200px) {
    .player {
        border-radius: 5px;
    }
}

@media(max-width: 500px) {
    .player {
        padding: 20px;
    }
}

@media(max-width: 350px) {
    .player {
        padding-right: 0;
        padding-left: 0;
    }
}