.player {
    display: flex;
    align-items: flex-end;    
    flex-wrap: wrap;
    margin-bottom: 40px;
    padding: 40px;

    color: #fff;

    background-color: #E95420;

}

@media(min-width: 1200px) {
    .player {
        border-radius: 5px;
    }
}

@media(max-width: 500px) {
    .player {
        padding: 20px;
    }
}

@media(max-width: 350px) {
    .player {
        padding-right: 0;
        padding-left: 0;
    }
}